#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config IEEE802154_SNIFFER
	bool "IEEE 802.15.4 packet sniffer/dumper"
	default n
	---help---
		Enable the IEEE 802.15.4 packet sniffer/dumper

if IEEE802154_SNIFFER

config IEEE802154_SNIFFER_PROGNAME
	string "Program name"
	default "snif8"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif

