#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config MRF24J40
	bool "Microchip MRF24J40 IEEE 802.15.4 transceiver"
	default n
	depends on IEEE802154
	---help---
		This selection enables support for the Microchip MRF24J40 device.

